[Unit]
Description=Snowbox pop3 server
Documentation=man:snowbox(8)

[Service]
ExecStart=/usr/local/sbin/snowbox

[Install]
WantedBy=multi-user.target
